h2{
    display: flex;
    justify-content: center;
}

#explain{
    font-size: 15px;
}

#explain i{
    text-transform: uppercase;
}

#frame{
    border-color: #633ad4;
    height: 150px;
    width: 300px;
}

.glow-on-hover {
    width: 125px;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;

}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#full_View {
   display: none;
   width: 125px;
   height: 25px;
   border: none;
   outline: none;
   color:#fff;
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
}

#full_View:before {
    content: '';
    background: linear-gradient(45deg, red, blue, green, yellow, orange, violet, brown, pink, rgb(247, 62, 62));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius : 10px;
}

#full_View:active {
    color: black;
}

#full_View:active:after {
    background: transparent;
}

#full_View:hover:before {
    opacity: 1;
}

#full_View:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

nav{
    float: left;
    width: 30%;
    background-color: lightblue;
}

article{
    float: left;
    width: 70%;
    color: rgb(253, 253, 253);
    background-color: lightcoral;
}

section::after{
    display: table;
    content: "";
    clear:both;
}

@media (max-width: 600px){
nav, article{
 width: 100%;
 height: auto;
}
}