#whole_body{
    background-color: rgb(160, 231, 219);
}
#Page_Heading{
    display: flex;
    justify-content: center
}

#table_center{
    display: flex;
    justify-content: center;
}

#table_div1{
    float: left;
    width: 50%;
}

#table_div2{
    float: left;
    width: 25%;
}

#table1{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width:50%;
    background-color: lightcoral;
}

#table2{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width:50%;
    background-color: rgb(141, 240, 128);
}

.one{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    /* For tablets */
    #table_div1{
        width: 50%;
    }
    #table_div2{
        width: 100%;
    }
}

/* @media (max-width: 600px){
    For Mobile
    .alginment_div1, .alginment_div2{
        width: 100%;
        height: auto;
    }
} */

#table_center::after{
    display: table;
    content: "";
    clear:both;
}

.prototype{
    width: 25.7%;
    height: 200px;
    background: linear-gradient(to right, rgb(74, 74, 173), rgb(71 134 146));
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    clear:both;
    display: inline-block;
}

@media (max-width: 600px){
    .prototype{
        width: 100%;
        height: auto;
    }
}

.head{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    height: 29px;
    background:linear-gradient(to right, rgb(104 104 221), rgb(71 134 146));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#close{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position:relative;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 216px;
  max-height: 29px;
  font-size: 23px;
  color:white

}

#account{
  font-variation-settings:
  'FILL' 10,
  'wght' 500,
  'GRAD' 100,
  'opsz' 48;
  position: relative;
  color: rgb(143 220 252);
  font-size: 63px;
  float: left;
  padding: 16px;
}

#dail_info{
    padding: 23px;
    padding-left: 4px;
    padding-top: 18px;
    float: left;
}

.dail_content{
    line-height: 28px; 
}

#mat_phone{
    font-size: 50px;
    float:left;
    padding: 5px;
    padding-left: 19px;
    position: relative;
    top: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    color: rgb(73 195 10);
}


#mat_phone_end{
    font-size: 50px;
    float:left;
    padding: 5px;
    padding-left: 13px;
    position: relative;
    top: 19px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    color:#f24242;
}

#table_inside{
    padding: 21px;
    padding-top: 14px;
    position: absolute;
    top: 110px;
    
}

#inside_table{
    size: 100px;
    border: none;
    border-collapse: collapse;
    width: 334px;
    display: table;
    padding-left: 100px;
    position:relative;
    color: white;
    background-color: rgba(3, 3, 3, 16%);
}

.two{
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    
}

#inside_table_thead{
    font-size: 12.5px;
}

#inside_table_tbody{
    font-size:12px;
}

